/* 컴포넌트 에서 css 호출하는 방법
    import 'css파일경로'
*/


.products{
    display: flex;
    gap: 10px;
}

.products ul{
    list-style: none;
    margin: 0;
    padding: 18px 22px;
    width: 130px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    
}

.products li{
    margin: 10px 0;
    text-align: center;

}

.products li:first-child{
    font-weight: 700;
    font-size: 20px;
    color: #1f2937;
}

.products li:nth-child(2){
    font-size: 14px;
    color: #6b7280;
}

.products li:nth-child(2)::before {
    content: "가격: ";
}

.products .stock{
    font-weight: 450;
}

.products .stock.in{
    color: #16a34a;
}

.products .stock.out{
    color: #dc2626;
}